* {
  margin: 0;
  box-sizing: border-box;
}
html {
  text-align: center;
}
body, h1 {
  margin: 0;
}
.main-img {
  width: 300px;
  border: 1px solid black;
  margin-top: 100px;
  transition: width 500ms;
} 
.main-img:hover {
  width: 400px;
} 

.name {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  height: 50px;
  background-color: white;
  text-align: center;
  position: fixed;
}

.logo {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 50px;
  background-image: url(./assetes/GU_CV_vo.png);
  background-size: 100px;
  background-position-y: center;
}

.logo:hover {
  background-image: url(./assetes/GU_CV_by.png);
}

@media screen and (max-width: 520px) {
  .logo {
    top: 50px;
  }
}

@media screen and (max-width: 520px) {
  .main-img {
    transition: none;
  }
  .main-img:hover {
    width: 300px;
  } 
}
